html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td:first-child {
  background: linear-gradient(
    90deg,
    rgb(80, 215, 80) var(--used),
    transparent var(--used),
    transparent
  );
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
